body {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: darkslategray;
}
::-webkit-scrollbar {
    display: none;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}
.gifsDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.pic {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    /* cursor: pointer; */
    object-fit: cover;
    margin-bottom: 20px;
}
form {
    height: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}
input[type="search"] {
    width: 75%;
    font-size: 1.5rem;
    border: 5px solid #808bcf;
    border-radius: 20px;
    padding: 20px;
    background: lightgreen;
    height: 50px;
}
